<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->

    <% for(let listing of allListings){ %>
    <div class="card" style="width: 18rem;">
<img
      src="<%= listing.image.url %>"
      class="card-img-top"
      alt="listing_image"
      style="height: 20rem"
    />

  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
  </div>
</div>
<% } %>


    <ul>
        <% for(let listing of allListings){ %>
              <li><a href="/listings/<%= listing._id %>"> <%= listing.title %></a></li>
       <% } %>
    </ul>
</body>
