<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a New Listing</h3>

            <form action="/listings" method="post">
                <div class="mb-3">
                    <lable for="title" class="form-label">Title</lable>
                    <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control">
                </div>

                <div class="mb-3">
                    <lable for="Description" class="form-label">Description</lable>
                    <textarea type="text" name="listing[description]" class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <lable for="Image" class="form-label">Image Link</lable>
                    <input type="text" name="listing[image]" placeholder="enter image URL/Link" class="form-control">
                </div>

                <div class="row">

                <div class="mb-3 col-md-4">
                    <lable for="Price" class="form-label">Price</lable>
                    <input type="number" name="listing[price]" placeholder="1200" class="form-control">
                </div>

                <div class="mb-3 col-md-8">
                    <lable for="Country" class="form-label">Country</lable>
                    <input type="text" name="listing[country]" placeholder="India" class="form-control">
                </div>
                </div>

                <div class="mb-3">
                    <lable for="Location" class="form-label">Location</lable>
                    <input type="text" name="listing[location]" placeholder="Kendrapara, odisha" class="form-control">
                </div>
                <br><br>
                <button class="btn btn-dark add-btn mt-3">Add</button>
                <br><br><br>
            </form>
        </div>
    </div>